#usernamelabel {
    color: lightblue;
    font-style: italic;
    font-weight: bold;
}

#username {
    border-color: blue;
    border-width: 3px;
}

#passwordlabel {
    color: lightcoral;
    background-color: yellow;
    border-color: red;
    border-width: 1px;
    border-style: solid;
}

#smallRadio {
    font-size: 10pt;
}

#mediumRadio {
    font-size: 14pt;
}

#largeRadio {
    font-size: 20pt;
}

#submitButton {
    background-color: rgb(123, 233, 175);
}

span{
    font-family: Arial, Helvetica, sans-serif;
}