{% load static %}
<html>
    <head>
        <title>Wish list</title>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="menu">
            <div style="margin-left:15px; float:left"><a href="/">login</a></div>
            <div style="margin-left:15px; float:left"><a href="/register">register</a></div>
            <div style="margin-left:15px; float:left"><a href="/user">user</a></div>
            <div style="margin-left:15px; float:left"><a href="/gifts">gifts</a></div>
            <div style="margin-left:15px; float:left"><a href="/logout">logout</a></div>
        </div>
        <br/>
        <div class="content container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>